.searchPoke {
    width: 10;
}

.conteudo {
    align-items: center;
    justify-content: center;
}

.searchDiv {
    text-align: center;
}

.searchBar {
    width: 100%;
    height: 35px;
    border-radius: 9px;
    margin-top: 10px;
}

.buttonCarregar {
    padding: 5px;
    font-size: medium;
    cursor: pointer;
    width: 20%;
    border-radius: 20px;
    border: none;
    background: rgb(255, 57, 57);
    color: white;
}